
body {
  font-family: 'myriad pro', sans-serif;
  font-size: 20px;
  border: 0;
}

todo {
  display: block;
  max-width: 400px;
  margin: 5% auto;
}

form input {
  font-size: 100%;
  padding: .6em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #1FADC5;
  border: 1px solid rgba(0,0,0,.2);
  font-size: 100%;
  color: #fff;
  padding: .6em 1.2em;
  border-radius: 3em;
  cursor: pointer;
  margin: 0 .3em;
  outline: none;
}

button[disabled] {
  background-color: #ddd;
  color: #aaa;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: .2em 0;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}

label {
  cursor: pointer;
}


.is-hidden {
  display: none;
}
.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  0% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  0% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
}

type .text {
  font-family: monospace;
}
type .cursor {
  display: inline-block;
  background: cyan;
}
type input {
  font-family: monospace;
  font-size: 20px;
  width: 100%;
  border: none;
  color: red;
}
type .letter .bad {
  color: red;
  border-bottom: 1px solid;
}
